In [97]:
import os
import pandas as pd

In [99]:
os.getcwd()

'C:\\Users\\pc\\MarABass'

In [101]:
os.chdir("C:\\Users\\pc\\MarABass")
bartolini_df= []
pickups_df= pd.read_excel("Raw/Pickups/pickups.xlsx")
pickups_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    188 non-null    int64
 1   Manufacturer  188 non-null    object
 2   Product Name  188 non-null    object
 3   Price ($)     188 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 6.0+ KB

In [103]:
with open("Raw/Pickups/bartoliniPickups.csv", 'r') as file:
    bartolini= file.read().splitlines()
    for line in bartolini[1:]:
        name, price= line.split(",")
        price= price.split(" ")[0][1:] if len(price.split(" ")) > 1 else price
        card= {"Manufacturer" : "Bartolini", "Product Name": name, "Price ($)": price}
        bartolini_df.append(card)
bartolini_df= pd.DataFrame(bartolini_df)
pickups_df= pickups_df.drop(columns=["Unnamed: 0"])
new_df= pd.concat([bartolini_df, pickups_df])
new_df

    Manufacturer                                       Product Name Price ($)
0      Bartolini         4-String Classic Dual Coil J-Bass – 9CBJD1    115.00
1      Bartolini         4-String Classic Dual Coil J-Bass – 9CBJD3    115.00
2      Bartolini       4-String Classic Single Coil J-Bass – 9CBJS1     95.00
3      Bartolini       4-String Classic Single Coil J-Bass – 9CBJS3     95.00
4      Bartolini                      4-String J-Bass – b-axis J44J    140.00
..           ...                                                ...       ...
183      Aguilar            AG 4P-51 50's Era Precision Bass Pickup     89.99
184      Aguilar   AG 4M/J-HC 4-string Music Man/Jazz Hum-Cancel...    259.99
185      Aguilar   AG 4J-HOT 4-string Overwound Jazz Bass Pickup...    189.99
186      Aguilar    AG 4J-70 70's Era 4-String Jazz Bass Pickup Set    179.99
187      Aguilar    AG 4J-60 60's Era 4-String Jazz Bass Pickup Set    179.99

[240 rows x 3 columns]

In [105]:
new_df.to_excel("Clean/pickups.xlsx")